/build/

# Editors
*.swp
*~
.ycm_extra_conf.py

# Python
*.pyc
__pycache__

# Object files
*.o
*.lo
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.i*86
*.x86_64

# macOS
.DS_Store
